/* Reset some default styles for browsers */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins&family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Oxygen&family=Poppins&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    background: url('/raw/bg.svg') no-repeat center center/cover;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    letter-spacing: 1px;
}

body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

header { /* Set header element style */
    max-width: 90%;
    margin: 0 auto;
    margin-top: 60px;
}

.topLeftGit_icon {
    /* transform: translate(-10%, 150%); */
    transform: rotate(280deg);
    padding-right: 50px;
    /* background-color: red;s */
    padding-bottom: 53px;
    font-size: 2.3rem;
}

.topLeftGit_icon:hover {
    cursor: pointer;
}

.main_color { /* Global class color set */
    color: #4fb2b0;
}

#name_tag { /* Set style of name */
    color: #e6e6e6;
    font-weight: bold;
    font-size: 0.9rem;
}

.gitIcon {
    width: 0;
    height: 0;
    border-left: 60px solid transparent; /* Adjust the size of the triangle as needed */
    border-right: 60px solid transparent; /* Adjust the size of the triangle as needed */
    border-bottom: 97px solid #3498db; /* Triangle color */
    position: fixed;
    top: -39.8px; /* Distance from the top of the viewport */
    left: -22px; /* Distance from the left of the viewport */
    transform: rotate(80deg); /* Rotate the triangle by 45 degrees */
    z-index: 2;
}

.navbar { /* Set display to flex so that they are lined horizontally */
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

ul.nav-links {
    list-style: none; /* Remove bullet points */
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding-top: 4px;
}

ul.nav-links li {
    display: inline; /* Display list items horizontally */
    margin-right: 40px; /* Add spacing between list items */
}

ul.nav-links li a {
    text-decoration: none; /* Remove underline from links */
    color: #bebebe; /* Set link color */
}

.content {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.hero_img_tag {
    width: 400px;
    height: 220px;
    background: url('/raw/hero_img.png') no-repeat center center/cover;
}

.p_positionTitle, .p_Name , .p_desc {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.p_positionTitle {
    font-weight: bold;
    font-size: 0.8rem;
}

.p_Name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e6e6e6;
}

.p_desc {
    width: 300px;
    color: #a0a0a0;
    font-size: 0.9rem;
    padding-bottom: 15px;
}

.button_hireMe {
    padding: 8px 60px;
    background: none;
    border: 2px solid #4fb2b0;
    font-weight: bolder;
    color: #4fb2b0;
}


._about {
    position: relative;
    margin-top: 100px;
    width: 100%;
}

.rowDesign_front, .rowDesign_back {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.rowDesign_front {
    margin-top: 1em;
    height: 600px;
    animation: moveUpDown 3s infinite ease-in-out;
}

.rowDesign_back {
    height: 700px;
    animation: moveDownUp 3.3s infinite ease-in-out;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); /* Start and end position (no movement) */
    }
    50% {
        transform: translateY(-22px); /* Middle position - move up */
    }
}

@keyframes moveDownUp {
    0%, 100% {
        transform: translateY(24px); /* Start and end position (no movement) */
    }
    50% {
        transform: translateY(0); /* Middle position - move up */
    }
}

._aboutContent {
    position: absolute;
    /* top: 200;
    left: 250; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.devImage {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.left_AboutContent {
    text-align: center;
}

.about_devName {
    font-weight: bold;
    color: #e6e6e6;
    font-size: 1.5rem;
}

.imgDev_container {
    width: 180px; /* Set a fixed width for the circular container */
    height: 180px; /* Set a fixed height for the circular container */
    border: 5px solid #4fb2b0;
    border-radius: 50%; /* Make the outer border circular */
    overflow: hidden; /* Hide the parts of the image outside the circle */
    padding: 8px; /* Adjust the padding to create a gap between the border and the image */

}

.socialIcons {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    width: 180px;
    margin: 0 auto;
    color: #4fb2b0;
}

.right_AboutContent {
    width: 500px;
    color: #e6e6e6;
}

.main_titleAbout, .main_titleSkills, .main_titleProject {
    font-weight: bolder;
    font-size: 1.2rem;
    padding-bottom: 20px;
    color: #e6e6e6;
}

.sub_TitleAbout {
    font-weight: bold;
    font-size: 1rem;
}

.about_desc {
    font-size: 0.9rem;
    opacity: 0.8;
    letter-spacing: 1px;
}

._skills {
    padding-top: 750px;
    text-align: center;
    padding-bottom: 10em;
}

.skills_iconContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 130px;
    padding-right: 130px;
    justify-content: center;
}

.svgIcon_Title {
    color: #e6e6e6;
    font-size: 0.8rem;
    opacity: 0.9;
}

.skill_block {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.icon_wrapper {
    margin-bottom: 10px;
}

.progress-bar {
    width: 100px;
    height: 10px;
    background-color: #181e27;
    border-radius: 10px;
}

.progress {
    background-color: orange;
    /* width: 10px; */
    height: 10px;
    border-radius: 10px;
}

.pHtml {
    width: 90px;
    background-color: #e44d26;
}

.pCSS {
    width: 80px;
    background-color: #1f62ae;
}

.pJS {
    width: 80px;
    background-color: #f0db4f;
}

.pIBMMQ {
    width: 80px;
    background-color: #adada9;
}

.pNodeJs {
    width: 75px;
    background-color: #539e43;
}

.pJava {
    width: 70px;
    background-color: #f8981d;
}

.pSpring {
    width: 70px;
    background-color: #8bc34a;
}


.pSQL {
    width: 70px;
    background-color: #157efb;
}

.pReact {
    width: 30px;
    background-color: #61dafb;
}

.pFirebase {
    width: 50px;
    background-color: #ffc400;
}

.pAWS {
    width: 40px;
    background-color: #f7a80d;
}

.pGoogleCloud {
    width: 40px;
    background-color: #1976d2;
}


.pTomcat {
    width: 40px;
    background-color: #d1a41a;
}

._works {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    width: 70%;
}

.main_titleProject {
    text-align: center;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap !important;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 850px;
}

.projectBlock {
    background-color: #181e27;
    width: 300px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
    color: #e6e6e6;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.projectBlock_borderTop {
    height: 10px;
}

.projectTitle {
    font-weight: bold;
}

.project_image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project_desc {
    font-size: 0.9rem;
    opacity: 0.9;
}

.projectBlockBorderTop {
    position: absolute;
    width: 90%;
    height: 12px;
    background-color: #4fb2b0;
    top: -2.1%;
    left: 5%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.project_usedTools {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 30px;
}

.btn_projectView {
    height: 35px;
    background: none;
    border: 2px solid #4fb2b0;
    font-weight: bolder;
    color: #4fb2b0;
    position: absolute;
    bottom: 2%;
    width: 83.7%;
}

.projectTool_item {
    background-color: #2a3443;
    font-size: 0.8rem;
    padding: 8px;
    border-radius: 10px;
    color: #4fb2b0;
    margin-right: 10px;
    margin-top: 10px;
}

._contactInfo {
    position: absolute;
    top: 265%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 70%;
    padding-bottom: 60px;
    color: #d1d1d1;
} 

.contact_message {
    background-color: #181e27;
    padding: 20px;
    border-radius: 5px;
    opacity: 0.9;
    font-size: 0.9rem;
}

.socialMedia_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.contact_infoBlock {
    width: 90%;
    margin: 20px;
    display: flex;
    align-items: center;
}

.socialMedia_icon {
    font-size: 2rem;
    color: #4fb2b0;
    /* font-weight: bolder; */
}

.contact_value {
    font-size: 0.9rem;
    margin-left: 10px;
    opacity: 0.5;
}

.footer {
    padding: 6px;
    background-color: #181e27;
    position: absolute;
    bottom: -260%;
    text-align: center;
    width: 100vw;
    color: #5b6675;
    font-size: 0.8rem;
}


.initialView {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.initialViewPortfolio {
    font-weight: normal;
}

.initialView {
    background-color: black;
    opacity: 1;
    animation: fadeOut 2s ease-in-out 1.3s forwards;
}

body.show-scrollbar {
    overflow-y: auto; /* Re-enable vertical scrollbar after fading out */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeBackgroundOut {
    from {
        background-color: black;
    }
    to {
        background-color: transparent;
    }
}



@media (min-width: 1050px) {
    /* Styles for standard screens */
    .hero_img_tag {
        width: 600px;
        height: 400px;
    }
    
    .p_positionTitle {
        font-size: 0.8rem;
    }
    
    .p_Name {
        font-size: 3rem;
    }
    
    .p_desc {
        width: 300px;
        font-size: 0.9rem;
        padding-bottom: 15px;
    }

}