/* Reset some default styles for browsers */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins&family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Oxygen&family=Poppins&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html {
    overflow-x: hidden;
}

.hidden {
    visibility: hidden;
}

body {
    opacity: 0; /* Set initial opacity to 0 (completely transparent) */
    transition: opacity 0.5s ease-in-out; /* Add a transition effect with duration and easing */
}

body.loaded {
    opacity: 1; /* Change opacity to 1 (fully visible) when the loaded class is applied */
}

body {
    background: url('/raw/bg.svg') no-repeat center center/cover;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden !important;
    /* position: relative; */
    letter-spacing: 1px;
}

body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

header { /* Set header element style */
    max-width: 90%;
    margin: 0 auto;
}

.gitIcon {
    position: relative;
    display: inline-block;
}

.triangleBackground {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #e6e6e6; /* Set your background color here */
    top: 20px; /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center top;
    z-index: 1; /* Position the triangle behind the icon */
}

.topLeftGit_icon {
    font-size: 1.8rem !important;
    padding: 7px;
    z-index: 1; /* Position the icon above the triangle */
}

.topLeftGit_icon:hover {
    cursor: pointer;
}

.main_color { /* Global class color set */
    color: #4fb2b0;
}

#name_tag { /* Set style of name */
    color: #e6e6e6;
    font-weight: bold;
    font-size: 0.9rem;
}

.navbar { /* Set display to flex so that they are lined horizontally */
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: flex-end;
}

/* --------------- */

/* Styling for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #fff;
    width: 100%;
    z-index: 500;
    margin-top: 10px;
}

/* Styling for the navbar links */
.nav-links {
    display: flex;
    transition: right 0.3s ease, opacity 0.3s ease; /* Added transition for right and opacity */
    animation: fadeInRight 0.5s ease; /* Fade-in animation when the sidebar shows */
}

/* Keyframes for fade-in animation */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Styling for the hamburger icon */
.bar {
    width: 25px;
    height: 3px;
    background-color: #4fb2b0;
    margin: 5px 0;
    transition: 0.4s;
    display: none; /* Hide by default */
}

.navbar-toggle {
    position: fixed;
    margin-top: -80px;
    /* margin-right: 0px; */
    right: 30;
    z-index: 2;
    background-color: #181e27;
    padding: 5px;
    border-radius: 5px;
}
/* -------------------- */

ul.nav-links {
    list-style: none; /* Remove bullet points */
    font-size: 1.1rem;
    /* font-weight: bold; */
    /* opacity: 0.9; */
    letter-spacing: 1px;
    padding-top: 4px;
}

ul.nav-links li {
    display: inline; /* Display list items horizontally */
    margin-left: 40px; /* Add spacing between list items */
}

ul.nav-links li a {
    text-decoration: none; /* Remove underline from links */
    color: #bebebe; /* Set link color */
}

.nav-links li a {
    text-decoration: none;
    color: black; /* Set the default text color */
    position: relative;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    bottom: -40%;
    left: 0;
    width: 0;
    height: 4px; /* Set the height and color of the underline */
    background-color: #4fb2b0; /* Set the color of the underline */
    transition: width 0.3s ease; /* Add a transition for smooth animation */
}

.nav-links li a:hover::before {
    width: 100%; /* Expand the underline to 100% width on hover */
}

.content {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.hero_img_tag {
    width: 400px;
    height: 220px;
    background: url('/raw/hero_img.png') no-repeat center center/cover;
}

.p_positionTitle, .p_Name , .p_desc {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.p_positionTitle {
    font-weight: bold;
    font-size: 0.8rem;
}

.p_Name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e6e6e6;
}

.p_desc {
    width: 300px;
    color: #a0a0a0;
    font-size: 0.9rem;
    padding-bottom: 15px;
}

.button_hireMe {
    padding: 8px 60px;
    background: none;
    border: 2px solid #4fb2b0;
    font-weight: bolder;
    color: #4fb2b0;
}


._about {
    position: relative;
    margin-top: 100px;
    /* width: 100%; */
}

.rowDesign_front, .rowDesign_back {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.rowDesign_front {
    margin-top: 1em;
    height: 600px;
    animation: moveUpDown 3s infinite ease-in-out;
}

.rowDesign_back {
    height: 700px;
    animation: moveDownUp 3.3s infinite ease-in-out;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); /* Start and end position (no movement) */
    }
    50% {
        transform: translateY(-22px); /* Middle position - move up */
    }
}

@keyframes moveDownUp {
    0%, 100% {
        transform: translateY(24px); /* Start and end position (no movement) */
    }
    50% {
        transform: translateY(0); /* Middle position - move up */
    }
}

._aboutContent {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%); */
    display: flex;
    /* width: 100%; */
    justify-content: space-evenly;
    padding-top: 170px;
}

.devImage {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.left_AboutContent {
    text-align: center;
}

.about_devName {
    font-weight: bold;
    color: #e6e6e6;
    font-size: 1.5rem;
}

.imgDev_container {
    /* width: 180px; 
    height: 180px;  */
    border: 5px solid #4fb2b0;
    border-radius: 50%; /* Make the outer border circular */
    overflow: hidden; /* Hide the parts of the image outside the circle */
    padding: 8px; /* Adjust the padding to create a gap between the border and the image */
}

.socialIcons {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    width: 180px;
    margin: 0 auto;
    color: #4fb2b0;
}

.right_AboutContent {
    width: 500px;
    color: #e6e6e6;
}

.main_titleAbout, .main_titleSkills, .main_titleProject {
    font-weight: bolder;
    font-size: 1.2rem;
    padding-bottom: 20px;
    color: #e6e6e6;
}

.sub_TitleAbout {
    font-weight: bold;
    font-size: 1rem;
}

.about_desc {
    font-size: 0.9rem;
    opacity: 0.8;
    letter-spacing: 1px;
}

._skills {
    margin-top: 180px;
    text-align: center;
    padding-bottom: 10em;
    padding-top: 130px;
}

.skills_iconContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 130px;
    padding-right: 130px;
    justify-content: center;
}

.svgIcon_Title {
    color: #e6e6e6;
    font-size: 0.8rem;
    opacity: 0.9;
}

.skill_block {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.icon_wrapper {
    margin-bottom: 10px;
}

.progress-bar {
    width: 100px;
    height: 10px;
    background-color: #181e27 !important;
    border-radius: 10px;
}

.progress {
    background-color: orange;
    /* width: 10px; */
    height: 10px;
    border-radius: 10px;
}

.pHtml {
    width: 90px;
    background-color: #e44d26 !important;
}

.pCSS {
    width: 80px;
    background-color: #1f62ae !important;
}

.pJS {
    width: 80px;
    background-color: #f0db4f !important;
}

.pIBMMQ {
    width: 80px;
    background-color: #adada9 !important;
}

.pNodeJs {
    width: 75px;
    background-color: #539e43 !important;
}

.pJava {
    width: 70px;
    background-color: #f8981d !important;
}

.pSpring {
    width: 78px;
    background-color: #8bc34a !important;
}


.pSQL {
    width: 70px;
    background-color: #157efb !important;
}

.pReact {
    width: 30px;
    background-color: #61dafb !important;
}

.pFirebase {
    width: 50px;
    background-color: #ffc400 !important;
}

.pAWS {
    width: 40px;
    background-color: #f7a80d !important;
}

.pGoogleCloud {
    width: 40px;
    background-color: #1976d2 !important;
}


.pTomcat {
    width: 40px;
    background-color: #d1a41a !important;
}

._works {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.main_titleProject {
    text-align: center;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap !important;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 850px;
}

.projectBlock {
    background-color: #181e27;
    width: 300px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
    color: #e6e6e6;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.projectBlock_borderTop {
    height: 10px;
}

.projectTitle {
    font-weight: bold;
}

.project_image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project_desc {
    font-size: 0.9rem;
    opacity: 0.9;
    padding-top: 5px;
}

.projectBlockBorderTop {
    position: absolute;
    width: 90%;
    height: 12px;
    background-color: #4fb2b0;
    top: -2.1%;
    left: 5%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.project_usedTools {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 30px;
}

.btn_projectView {
    height: 35px;
    background: none;
    border: 2px solid #4fb2b0;
    font-weight: bolder;
    color: #4fb2b0;
    position: absolute;
    bottom: 2%;
    width: 83.7%;
    left: 8%;
}

.btn_projectView:hover {
    cursor: pointer;
    background-color: #4fb2b0; 
    color: #181e27;
}

.projectTool_item {
    background-color: #2a3443;
    font-size: 0.8rem;
    padding: 8px;
    border-radius: 10px;
    color: #4fb2b0;
    margin-right: 10px;
    margin-top: 10px;
}

._contactInfo {
    /* position: absolute;
    top: 275%;
    left: 50%;
    transform: translate(-50%, 50%); */
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 60px;
    color: #d1d1d1;
} 

.contact_message {
    background-color: #181e27;
    padding: 20px;
    border-radius: 5px;
    opacity: 0.9;
    font-size: 0.9rem;
    padding-bottom: 40px;
}

.socialMedia_container {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact_infoBlock {
    /* width: 90%; */
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin-top: 15px;
    text-align: center;
    transition: all .2s ease-in-out; 
}

.contact_infoBlock:hover {
    cursor: pointer;
    transform: scale(1.1); 
}

.socialMedia_icon {
    font-size: 2rem;
    color: #4fb2b0;
    margin-bottom: 5px;
    /* font-weight: bolder; */
}

.contact_value {
    font-size: 0.9rem;
    /* margin-left: 10px; */
    color: #fff;
    opacity: 0.5;
}

.footer {
    padding: 6px;
    background-color: #181e27;
    /* position: absolute;
    bottom: -265%; */
    text-align: center;
    width: 100%;
    color: #5b6675;
    font-size: 0.8rem;
}


.initialView {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.initialViewPortfolio {
    font-weight: normal;
}

.initialView {
    background-color: black;
    opacity: 1;
    animation: fadeOut 2s ease-in-out 1.3s forwards;
}

body.show-scrollbar {
    overflow-y: auto; /* Re-enable vertical scrollbar after fading out */
}

.aTag_candedly {
    color: #4fb2b0;
}

.aTag_candedly:hover {
    color: #4fb2b0;
    text-decoration: none;
    background-color: #4fb2b0; 
    color: #181e27;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeBackgroundOut {
    from {
        background-color: black;
    }
    to {
        background-color: transparent;
    }
}

/* .underscoreBlinking {
    width: 15px;
    height: 1px;
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
} */

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.underscoreBlinking {
    display: inline-block;
    width: 10px; /* Adjust the width of the underline */
    height: 2px; /* Adjust the height/thickness of the underline */
    background-color: #e6e6e6;; /* Adjust the color of the underline */
    animation: blink 1s infinite; /* Blinking animation every 1 second */
}


.btnInDevModal {
    position: absolute;
    z-index: 2000;
}

.contactActionContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-between; */
}


.socialMedia_container {
    /* background-color: #181e27; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row !important; */
    border-radius: 5px;
    width: 100%;
}

.contact_form {
    margin-top: 20px;
    width: 55%;
    /* background-color: #181e27; */
    padding: 20px;
    border-radius: 5px;
}

.contactFieldLabel {
    font-size: 0.8rem;
}

.bookWithMe_container {
    /* background-color: #181e27; */
    margin-top: 40px;
}

.aTag_candedly {
    padding: 20px;
    height: 25px;
    background: none;
    border: 2px solid #4fb2b0;
    font-weight: bolder;
    color: #4fb2b0;
    margin-bottom: 20px;
}

.button_hireMe:hover {
    cursor: pointer;
    background-color: #4fb2b0;
    color: #181e27;
}

.projectNoticeText {
    font-size: 0.9rem;
    font-weight: lighter;
    opacity: 0.8;
    color: #fff;
    margin-top: 30px;
    font-style: italic;
}

.fa-circle-exclamation {
    color: #4fb2b0;
    font-size: 1.2rem;
    padding-right: 5px;
}

.socialIcon_aTag {
    color: #4fb2b0;
}

.headerSocialIcons {
    transition: all .2s ease-in-out; 
}

.headerSocialIcons:hover {
    color: #4fb2b0;
    cursor: pointer;
    transform: scale(1.3); 
}

.socialMedia_ContactDetailsATag {
    /* color: #4fb2b0; */
    text-decoration: none;
}

.socialMedia_ContactDetailsATag:hover {
    /* color: #4fb2b0; */
    text-decoration: none !important;
}

@media  (max-width: 1325px) {

    ._works {
        width: 100%;
    }

    .projectsContainer {
        width: 73% !important;
    }
}

@media  (max-width: 1220px) {
    s
        ._works {
            width: 100%;
        }
    
        .projectsContainer {
            width: 65% !important;
        }
    }

@media (min-width: 1050px) {
    /* Styles for standard screens */
    .hero_img_tag {
        width: 600px;
        height: 400px;
    }
    
    .p_positionTitle {
        font-size: 0.8rem;
    }
    
    .p_Name {
        font-size: 3rem;
    }
    
    .p_desc {
        width: 300px;
        font-size: 0.9rem;
        padding-bottom: 15px;
    }

}


@media  (max-width: 1045px) {

    ._works {
        width: 85%;
    }
    
    .projectsContainer {
        width: 85% !important;
        justify-content: space-between;

    }
}

@media (max-width: 985px) {
    /* Styles for standard screens */

    ._aboutContent {
        /* background-color: red; */
        flex-direction: column-reverse;
        align-items: center;
        /* transform: translate(-50%, 40%); */
    }

    .rowDesign_front {
        height: 950px;
    }

    .rowDesign_back {
        height: 870px;
    }

    .left_AboutContent {
        margin-top: 30px;
    }

    .skills_iconContainer {
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }


}


@media  (max-width: 880px) {

    ._works {
        width: 95%;
    }

    .projectsContainer {
        width: 85% !important;
    }
}


@media  (max-width: 770px) {

    ._works {
        width: 95%;
    }

    .projectsContainer {
        width: 90% !important;
    }

    .projectNoticeText {
        width: 480px;
        text-align: justify;
    }
}

@media  (max-width: 750px) {

    ._works {
        width: 95%;
    }

    .projectsContainer {
        flex-direction: column;
        width: 95% !important;
        align-items: center;
    }

    .projectBlock {
        margin-bottom: 40px;
    }

    .customTool {
        margin-top: 0 !important;
    }

    .content {
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    .desc_text {
        margin-top: 10px;
        width: 100%;
    }

    .hero_img_tag {
        width: 500px;
        height: 320px;
     }
}



@media (max-width: 700px) {
/* @media (max-width: 574px) { */
    /* Styles for standard screens */

    body {
        overflow-x: hidden !important;
    }

    body {
        width: 100% !important;
    }

    .content {
        /* width: 100%; */
        display: flex;
        margin: 0 auto;
        margin-top: 100px;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 30px;
        /* background-color: pink; */
    }    

    .hero_img_tag {
        /* margin-top: 30px; */
        /* width: 250px;
        height: 240px; */
        margin-bottom: 30px;
    }

    .desc_text {
        width: 100%;
        padding-top: 30px;
        /* padding-left: 50px; */
    }

    .right_AboutContent  {
        width: 350px;
    }

    .rowDesign_back, .rowDesign_front {
        width: 100vw;
    }

    .devImage {
        width: 130px;
        height: 130px;
    }

    .left_AboutContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skills_iconContainer {
        padding: 0 !important;
    }

    ._skills {
        margin-top: 100px;
    }

/* SKILLS CSS ----------------*/

    .pHtml {
        width: 60px;
        background-color: #e44d26;
    }
    
    .pCSS {
        width: 60px;
        background-color: #1f62ae;
    }
    
    .pJS {
        width: 60px;
        background-color: #f0db4f;
    }
    
    .pIBMMQ {
        width: 50px;
        background-color: #adada9;
    }
    
    .pNodeJs {
        width: 55px;
        background-color: #539e43;
    }
    
    .pJava {
        width: 55px;
        background-color: #f8981d;
    }
    
    .pSpring {
        width: 55px;
        background-color: #8bc34a;
    }
    
    
    .pSQL {
        width: 50px;
        background-color: #157efb;
    }
    
    .pReact {
        width: 20px;
        background-color: #61dafb;
    }
    
    .pFirebase {
        width: 30px;
        background-color: #ffc400;
    }
    
    .pAWS {
        width: 30px;
        background-color: #f7a80d;
    }
    
    .pGoogleCloud {
        width: 30px;
        background-color: #1976d2;
    }
    
    
    .pTomcat {
        width: 20px;
        background-color: #d1a41a;
    }

    .progress-bar {
        width: 70px;
        height: 7px;
    }

    .progress {
        height: 7px;
    }

    .onMobileViewSVGSkills {
        height: 50px !important;
    }

    .skill_block {
        width: 90px;
        margin-top: 30px;
    }

    ._works {
        /* position: static; */
        margin-top: -90px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;

    }

    .projectsContainer {
        width: 300px;
    }

    .projectBlock {
        margin-bottom: 50px;
    }

    .customTool {
        margin-top: 0 !important;
    }

    ._contactInfo {
        /* top: 515%; */
        margin-top: -80px;
        margin-left: auto;
        margin-right: auto;
    }

    ._aboutContent {
        padding-top: 220px;
    }

    /* .nav-links {
        background-color: red;
        font-size: 0.8rem !important;
        justify-content: space-around;
        align-items: flex-end;
        width: 200px;
    } */

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #181e27;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
    }

    .navbar.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .navbar.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .navbar.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .navbar.active .nav-links {
        right: 0; /* Slide in from the right */
    }

    .bar {
        display: block; /* Show the hamburger icon on mobile screens */
    }

    .nav-links {
        display: none; /* Hide the default navigation links on mobile screens */
        flex-direction: column;
        /* background-color: #333; */
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -50%;
        transition: right 0.3s ease;
    }

    .navbar.active .nav-links {
        right: 0;
    }

    .bar {
        display: block; /* Show the hamburger icon on mobile screens */
    }

    .nav-links {
        display: none; /* Hide the default navigation links on mobile screens */
        flex-direction: column;
        /* background-color: #333; */
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -50%;
        transition: right 0.3s ease;
    }

    .navbar.active .nav-links {
        right: 0;
    }

    .navbar_linkItem {
        margin-bottom: 20px;
    }


    .nav-links li a::before {
        content: '';
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 0;
        height: 4px;
        background-color: #4fb2b0;
        transition: width 0.3s ease;
    }

    .nav-links li a:hover::before {
        width: 90px; /* Expand the underline to 100% width on hover */
        z-index: 2;
    }

    #navbarLinks {
        padding-top: 30px;
    }

    .navbar-toggle:hover {
        cursor: pointer;
    }

    .logo_tag {
        margin-top: -80px;
        margin-left: 40px;
    }

    .desc_text {
        margin-bottom: -100px;
    }

    .hero_img_tag {
        width: 400px;
        height: 220px;
    }

    ul.nav-links li {
        display: inline;
        margin-left: 0px;
    }

    header {
        margin-top: 80px;
    }

    #name_tag {
        margin-left: -50px;
    }

    .projectNoticeText {
        width: 100%;
    }

}

@media (max-width: 640px) {
    .projectNoticeText {
        margin-bottom: 80px;
    }
}


@media (max-width: 474px) {
    
    .socialMedia_container {
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aTag_candedly {
        padding: 8px;
        width: 100%;
        font-size: 12px;
    }

}

@media (max-width: 390px ) {
    .right_AboutContent {
        width: 300px;
    }

    .skills_iconContainer {
        width: 350px;
        margin: 0 auto;
    }

    .aTag_candedly {
        padding: 8px;
        width: 100%;
        font-size: 12px;
    }
}